#red{
    background-color: #ff0000;
    min-height: 40px;
}
#yellow{
    background-color: yellow;
    min-height: 40px;
}
#blue{
    background-color: blue;
    min-height: 40px;
}
#orange{
    background-color: orange;
    min-height: 40px;
}
#green{
    background-color: green;
    min-height: 40px;
}
#purple{
    background-color: purple;
    min-height: 40px;
}
#orange{
    background-color:#FF8000;
    min-height: 40px;
}
#charteuse{
    background-color: #80FF00;
    min-height: 40px;
}
#spring-green{
    background-color: #00FF80;
    min-height: 40px;
}
#azure{
    background-color: #0080FF;
    min-height: 40px;
}
#violet{
    background-color: #8000FF;
    min-height: 40px;
}
#rose{
    background-color: #FF0080;
    min-height: 40px;
}
